<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SqlExpressConnString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Shopping;Integrated Security=false;User Id=sa;Password=Pass@123;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>