@charset "utf-8";
/* CSS Document */

/*  Reset for some default browser CSS - General */

body, div, h1, h2, h3, p, ul, ol, li, img, header, section, aside, footer, button {
	margin: 0; padding: 0; border: 0; list-style: none;
}

body {
	background-color: rgb(255, 253, 208);
	/* Cream */
	/*background: -webkit-gradient(linear, left top, left bottom, from(#FFFDD0), to(#FFFFFF));
	background: -moz-linear-gradient(top,  #FFFDD0,  #FFFFFF);*/
}

h1, h2, h3 {
    text-align: center;
	font-family: "Segoe UI", Tahoma, Verdana, Arial, serif;
	font-weight: normal;
}


header#home_header h1{
	display: block;
        padding: 20px;
        color: rgb(0, 0, 0);
        font-weight: bolder;
}

#home_header a:link {text-decoration:none;}
#home_header a:visited {text-decoration:none;}
#home_header a:hover {text-decoration:none;}
#home_header a:active {text-decoration:none;}
nav#home_main_nav {
    text-align: center
}

nav#home_main_nav ul li {
    display: inline;
    margin: 10px;
}

nav#home_main_nav ul li a{
    color: rgb(255, 255, 255);
    padding: 10px;
    font-weight: bold;
    background-color: rgb(128, 128, 128);

    border-radius: 10px;
}

#home_main_nav a:link {text-decoration:none;}
#home_main_nav a:visited {text-decoration:none;}
nav#home_main_nav ul li a:hover{
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 10px;
    font-weight: bold;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
}
#home_main_nav a:active {text-decoration:none;}

.tbl_Content {
    width: 95%;
    margin: 10px 10px 10px 10px;
    border-width: medium;
    border-style: groove;
    border-radius: 10px;
    border: solid;
}

td.class_ImgSlider {
    width: 30%;
}

td.class_ContentInTbl{
	line-height: 1.5;
	text-align: left;
}

.class_LinkInTbl{
	width: 50%;
}

.class_LinkInTbl a {
	text-decoration: none;
	font-weight: bold;
	color: rgb(0, 0, 0);
}

#tbl_Link_Content td{
	text-align: center;
	font-size: large;
}

.class_LinkInTbl{
	border: solid;
    border-radius: 10px;

}

.class_LinkInTbl:hover{
	background-color: rgb(192, 192, 192);
	font-weight: bolder;
}

footer{
	
	display: block;
	text-align: center;
	color: rgb(0, 0, 0);
	margin: 20px 20px;
	font-size: small;
}

table.tbl_Pros_Cons{
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	border: groove;
    border-radius: 10px;

}
table.tbl_Pros_Cons td{
	border: groove;
    border-radius: 10px;
text-align: center;
padding: 20px;

}
table.tbl_Pros_Cons td a {
	text-decoration: none;
	color: rgb(0, 0, 0);
	font-size: larger;
}

table.tbl_Pros_Cons td:hover{
	background-color: rgb(192, 192, 192);
	font-weight: bolder;
}

table.tbl_Pros_Cons td a:hover{
	font-weight: bolder;
}

.div_Details{
	
	width: 90%;
	border: groove;
	text-align: left;
	margin: auto;
	padding: 10px;
	border-radius: 10px;

}
.div_Details img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	
}
table.tbl_Pros_Cons td img{
	height: 100%;
}

.div_Intro{
	width: 90%;
	
	margin-left: auto;
	margin-right: auto;
}

#tbl_Videos{
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	border: groove;
	border-radius: 10px;
}

#tbl_Videos td{
	padding: 10px;
	border: groove;
	border-radius: 20px;
}